@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-primary: #F4F5FB;
    --bg-secondary: #FFFFFF;
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --aways-white: #FFFFFF;
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    --font-family: "Inter", sans-serif;

    --text-lg: bold 1.5rem/2 var(--font-family);
    --text-md: 600 1rem/.75rem var(--font-family);
    --text-sm: 500 1rem/.75rem var(--font-family);
    --link: 500 .875rem/1 var(--font-family);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header div {
    width: max-content;
    margin-inline: auto;
    margin-top: 1.6rem;
}