main {
    &>div {
        margin-top: 2.125rem;

        & p {
            color: var(--color-brand);
            font: var(--link);
        }

        & h1 {
            font: var(--text-lg);
        }
    }

    & form {
        margin-block: 2.75rem 2.5rem;

        & input {
            all: unset;
            border: 2px solid var(--border-primary);
            background-color: var(--bg-secondary);
            color: var(--content-tertiary);
            padding: 11px 18px;
            border-radius: .6rem;
            font: var(--text-sm);

            &:hover {
                border-color: var(--border-secondary);
            }

            &:focus {
                border-color: var(--color-brand);
            }
        }

        & button {
            all: unset;
            background-color: var(--color-brand);
            color: var(--aways-white);
            font: var(--text-sm);
            padding-block: .75rem;
            text-align: center;
            border-radius: .6rem;

            &:hover {
                background-color: var(--color-brand-hover);
            }
        }
    }

    & ul {
        margin-top: 2.5rem;

        & li {
            display: flex;
            justify-content: space-between;
            border: 1px solid var(--border-primary);

            color: var(--content-secondary);
            font: var(--text-sm);
            padding: .875rem .75rem;
            border-radius: .6rem;

            & div {
                display: flex;
                position: relative;

                --bg-img: "";

                & label {
                    white-space: nowrap;
                    padding-top: .2rem;
                }

                & [type="checkbox"] {
                    opacity: 0;
                    position: absolute;
                    cursor: pointer;
                    margin-left: -1rem;
                }

                & .checkbox-img {
                    --bg-img: url(../assets/checkbox.svg);
                    background: var(--bg-img) no-repeat;
                    width: 1.5rem;
                }

                &:hover {
                    & .checkbox-img {
                        --bg-img: url(../assets/checkbox-hover.svg);
                    }
                }

                &:has(:checked) {
                    & .checkbox-img {
                        --bg-img: url(../assets/checkbox-selected.svg);
                    }
                }

            }
        }
    }

    .trash {
        cursor: pointer;
    }

    & .show-remove {
        background-color: var(--color-danger);
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: .75rem;
        border-radius: .6rem;

        & span {
            color: var(--aways-white);
            display: flex;
            gap: .5rem;
            font: var(--text-sm);
            align-items: center;
        }
    }

    .none {
        display: none;
    }

    .show-remove.active {
        display: flex;
    }

    @media (width >=80rem) {
        width: 39.25rem;
        margin-inline: auto;

        & form {
            grid-template-columns: 7fr 3fr;

            & ul {
                grid-column: 1/-1;
            }
        }
    }
}